<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wqk.serverwebsocket.mapper.UserMapper">
    <resultMap id="User" type="cn.wqk.serverwebsocket.pojo.User">
        <id property="id" column="id"></id>
        <result property="userName" column="user_name"></result>
        <result property="password" column="password"></result>
    </resultMap>
    <select id="findByToken" resultMap="User">
        select *
        from user
        where token = #{token}
    </select>
    <select id="findById" resultMap="User">
        select *
        from user
        where id = #{id}
    </select>
    <insert id="register">
        insert into user (phone, username, password)
        values (#{username}, #{username}, #{password})
    </insert>
    <select id="findByUsername" resultMap="User">
        select *
        from user
        where user_name = #{userName}
    </select>
    <select id="findAllUsers" resultMap="User">
        select *
        from user
    </select>

</mapper>