<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wyq.serverwebsocket.mapper.UserMapper">
    <resultMap id="User" type="cn.wyq.serverwebsocket.pojo.User">
        <id property="id" column="id"></id>
        <result property="userName" column="user_name"></result>
        <result property="password" column="password"></result>
        <result property="path" column="path"></result>
        <result property="role" column="role"></result>
    </resultMap>

    <select id="findByToken" resultMap="User">
        select *
        from user
        where token = #{token}
    </select>

    <select id="findById" resultMap="User">
        select *
        from user
        where id = #{id}
    </select>

    <insert id="register">
        insert into user (user_name, password, path, role)
        values (#{userName}, #{password}, #{path}, #{role})
    </insert>

    <select id="findByUsername" resultMap="User">
        select *
        from user
        where user_name = #{userName}
    </select>

    <select id="findAllUsers" resultMap="User">
        select *
        from user
    </select>
    <select id="getPath" resultType="java.lang.String">
        select path
        from user
        where user_name = #{username}
    </select>

</mapper>