<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wyq.serverwebsocket.mapper.MessageMapper">
    <resultMap id="MessageInfo" type="cn.wyq.serverwebsocket.pojo.socket.MessageInfo">
        <id property="id" column="id"/>
        <result property="message" column="message"/>
        <result property="fromName" column="from_name"/>
        <result property="toName" column="to_name"/>
        <result property="time" column="send_time"/>
        <result property="recalled" column="recalled"/>
    </resultMap>
    <resultMap id="MessageFull" type="cn.wyq.serverwebsocket.pojo.entity.Message">
        <id property="id" column="id"/>
        <result property="message" column="message"/>
        <result property="fromName" column="from_name"/>
        <result property="toName" column="to_name"/>
        <result property="sendAt" column="send_at"/>
    </resultMap>

    <insert id="addMessage" parameterType="cn.wyq.serverwebsocket.pojo.socket.MessageInfo" useGeneratedKeys="true"
            keyProperty="id">
        insert into message (message, from_name, to_name, send_at)
        values (#{message}, #{fromName}, #{toName}, #{time});
    </insert>

    <select id="findAll" resultMap="MessageInfo">
        select *
        from message
        <where>
            <if test="fromName!=null and fromName!='' and toName!=null and toName!=''">
                (from_name = #{fromName}
                and to_name = #{toName})
                or (to_name = #{fromName}
                and from_name = #{toName})
            </if>
            <if test="toName==null or toName==''">
                to_name=""
            </if>
        </where>
    </select>

    <select id="pageQuery" resultType="cn.wyq.serverwebsocket.pojo.entity.Message">
        select id, message, from_name, to_name, send_at
        from message
        <where>
            <if test="id!=null and id!=0">
                and id=#{id}
            </if>
            <if test="message!=null and message!=''">
                and message like concat('%',#{message},'%')
            </if>
            <if test="fromName!=null and fromName!=''">
                and from_name like concat('%',#{fromName},'%')
            </if>
            <if test="toName!=null and toName!=''">
                and to_name like concat('%',#{toName},'%')
            </if>
            <if test="sendAtStart != null  and sendAtEnd != null ">
                and send_at BETWEEN #{sendAtStart} AND #{sendAtEnd}
            </if>
        </where>
    </select>
    <select id="export" resultType="cn.wyq.serverwebsocket.pojo.entity.Message">
        select id, message, from_name, to_name, send_at
        from message
        <where>
            <if test="id!=null and id!=0">
                and id=#{id}
            </if>
            <if test="message!=null and message!=''">
                and message like concat('%',#{message},'%')
            </if>
            <if test="fromName!=null and fromName!=''">
                and from_name like concat('%',#{fromName},'%')
            </if>
            <if test="toName!=null and toName!=''">
                and to_name like concat('%',#{toName},'%')
            </if>
            <if test="sendAtStart != null  and sendAtEnd != null ">
                and send_at BETWEEN #{sendAtStart} AND #{sendAtEnd}
            </if>
        </where>
    </select>
</mapper>