<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wyq.serverwebsocket.mapper.AIMapper">

    <resultMap id="Conversation" type="cn.wyq.serverwebsocket.pojo.entity.Conversation">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ConversationMessage" type="cn.wyq.serverwebsocket.pojo.entity.ConversationMessage">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="conversation_id" property="conversationId" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="role" property="role" jdbcType="INTEGER"/>
    </resultMap>

    <select id="findAllConversations" resultMap="Conversation">
        SELECT id, name, create_time, update_time, user_name
        FROM conversation
        ORDER BY update_time DESC
    </select>

    <insert id="insertConversation" parameterType="cn.wyq.serverwebsocket.pojo.entity.Conversation"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO conversation (name, create_time, update_time, user_name)
        VALUES (#{name}, #{createTime}, #{updateTime}, #{userName})
    </insert>

    <update id="updateConversationUpdateTime" parameterType="cn.wyq.serverwebsocket.pojo.entity.Conversation">
        UPDATE conversation
        SET update_time = #{updateTime}
        WHERE id = #{id}
    </update>
    <update id="updateConversationName" parameterType="cn.wyq.serverwebsocket.pojo.dto.UpdateConversationNameDTO">
        UPDATE conversation
        SET name = #{name}
        WHERE id = #{conversationId}
    </update>

    <select id="selectMessagesByConversationId" resultMap="ConversationMessage">
        SELECT id, conversation_id, content, role
        FROM conversation_message
        WHERE conversation_id = #{conversationId}
        ORDER BY id ASC
    </select>

    <insert id="insertMessage" parameterType="cn.wyq.serverwebsocket.pojo.dto.ConversationMessageDTO">
        INSERT INTO conversation_message (conversation_id, content, role)
        VALUES (#{conversationId}, #{content}, #{role})
    </insert>

</mapper>